{
  "root": true,
  "ignorePatterns": [
    "**/*spec.snap.js",
    "**/docs/**",
    "**/esbuild.build.js",
    "**/web-test-runner.config.js"
  ],
  "rules": {
    "quotes": [
      "error",
      "single"
    ],
    "semi": [
      "error",
      "always"
    ]
  },
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ]
}
