@import "./archivo-black.css";
@import "../fontawesome/css/solid.css";
@import "../fontawesome/css/regular.css";

body {
    margin: 0;
}

:root {
    /* Define these globally to appease the css validator */
    --primary-color: orange;
    --background-color: black;
    --highlight-color: white;
    --font-family: "Archivo Black", sans-serif;
    --doc-height: 100%;
}
