body {
    --primary-color: #FF7A00;
    --primary-color-rgb: 255, 122, 0;
    --background-color: black;
    --highlight-color: white;
    --font-fanily: Tahoma;
}

body.dark-theme {
    --primary-color: #FF7A00;
    --primary-color-rgb: 255, 122, 0;
    --background-color: black;
    --highlight-color: white;
}
