body {
    --primary-color: #FF7A00;
    --background-color: black;
    --outline-color: white;
    --font-fanily: Tahoma;
}

body.dark-theme {
    --primary-color: #FF7A00;
    --background-color: black;
    --outline-color: white;
}
